backups/2025-12-17_16-56-29/5.LinkedIn-获取社交媒体素材-Sa2LQukOeZdgbjF2.json
{"updatedAt":"2025-12-16T14:49:26.176Z","createdAt":"2025-12-16T12:35:27.103Z","id":"Sa2LQukOeZdgbjF2","name":"5.LinkedIn-获取社交媒体素材","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[1536,48],"id":"da206a96-d169-43f5-87c5-00cd65b87b12"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/apimaestro~linkedin-posts-search-scraper-no-cookies/run-sync-get-dataset-items?token=***REDACTED***_api_***REDACTED***","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"keyword\": \"\\\"{{ $json.keyword }}\\\"\",\n  \"sort_type\": \"relevance\",\n  \"date_filter\": \"past-week\",\n  \"limit\": 10\n}","options":{"allowUnauthorizedCerts":true,"timeout":600000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[912,0],"id":"f9d3caa5-bb50-46b5-92b3-d196da5644bd","name":"LinkedIn-Actor获取数据"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16f5668a-db95-4946-ad24-545987748866","leftValue":"={{\n(() => {\n  // 1. 从「提取已存ID列表」节点取出唯一那条 item，然后拿 all_ids 数组\n  const listNode = $('提取已存ID列表').first();   // 不要用 .item\n  const ids = (listNode && listNode.json && listNode.json.all_ids) || [];\n\n  // 2. 当前这条数据的 ID（优先 video_id，兼容 ID 字段）\n  const curId = $json[\"video_id\"] || $json[\"ID\"] || '';\n\n  // 3. 返回布尔值：有 ID 且不在已存在列表中 → 视为“新素材”\n  return !!curId && !ids.includes(curId);\n})()\n}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[176,304],"id":"058ffbe8-dbc9-474c-b960-f5d209076c95","name":"判断去重"},{"parameters":{"resource":"base","operation":"createTable","app_token":{"__rl":true,"mode":"id","value":""}},"type":"n8n-nodes-feishu-lark.lark","typeVersion":1,"position":[2064,432],"id":"88021e91-f168-4004-a3e1-ffe6959f4420","name":"表格5写入新的数据","webhookId":"34f06972-2995-4766-88f3-029a5651eb28","credentials":{"larkApi":{"id":"Gt61sQPCXtiiu5nz","name":"飞书API"}}},{"parameters":{},"type":"n8n-nodes-feishu-lark.lark","typeVersion":1,"position":[464,0],"id":"48d96066-c31e-4565-915f-408463c17dc9","name":"从表格5获取已存ID","webhookId":"ce85a689-1fef-42b0-b79a-ebaa754fb3b9","credentials":{"larkApi":{"id":"Gt61sQPCXtiiu5nz","name":"飞书API"}}},{"parameters":{"jsCode":"// 这个节点的输入：来自「获取已存视频ID」\n// 它的 json 结构大概是：{ has_more: false, items: [ { fields: { ID: [ { text: \"xxx\" } ], ... }, record_id: \"...\" }, ... ] }\n\nconst root = $input.first().json;      // 只有 1 个 item，里面有 items 数组\nconst records = root.items || [];\n\nconst allIds = records\n  .map(r => r.fields?.ID?.[0]?.text)   // 取每条记录的 ID 文本\n  .filter(id => !!id);                 // 过滤掉空值\n\n// ✅ 跨节点获取 Webhook 节点输出的 keyword 字段和值（稳定取 body.keyword）\nconst webhookKeyword =\n  $node[\"Webhook\"]?.json?.body?.keyword ??\n  $node[\"Webhook\"]?.json?.keyword ??\n  \"\";\n\n// ✅ 方案 1：输出为 1 条 item，同时包含 all_ids + keyword\nreturn [\n  {\n    json: {\n      all_ids: allIds,\n      keyword: webhookKeyword\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[688,0],"id":"bfbc5a29-6758-4ed0-a9ec-68d0ee03c6c8","name":"提取已存ID列表"},{"parameters":{"url":"={{$json[\"素材封面\"]}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8"},{"name":"Accept-Language","value":"en-US,en;q=0.9"},{"name":"Referer","value":"={{ $json[\"原文链接\"] }}"}]},"options":{"response":{"response":{"responseFormat":"file"}},"timeout":600000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[720,272],"id":"93bc31c2-e810-40b4-9358-56bf7961f717","name":"下载素材封面图片"},{"parameters":{"method":"POST","url":"https://open.feishu.cn/open-apis/drive/v1/medias/upload_all","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ 'Bearer ' + $json[\"tenant_access_token\"] }}"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"file_name","value":"={{ $json[\"file_name\"] || 'cover.jpg' }}"},{"name":"parent_type","value":"bitable_image"},{"name":"parent_node","value":"PW06bcfKwa5C8gsnzezcAkPZnVh"},{"name":"size","value":"={{ $json[\"size\"] }}"}]},"options":{"timeout":600000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1776,288],"id":"7459c350-4202-4bdd-8fe7-90a044ff4940","name":"上传封面图片至飞书"},{"parameters":{"method":"POST","url":"https://open.feishu.cn/open-apis/auth/v3/tenant_access_token/internal","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json; charset=utf-8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"app_id\": \"cli_a9a11c2c49f85cb6\",\n  \"app_secret\": \"***REDACTED_KEY***\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[240,0],"id":"a301effb-92b6-4c1b-81dd-8ca4dd513523","name":"获取飞书tenant_access_token"},{"parameters":{"jsCode":"const items = $input.all();\nconst out = [];\n\n// 从获取飞书tenant_access_token节点拿 token\nconst tokenNode = $node[\"获取飞书tenant_access_token\"];\nconst tenantToken = tokenNode.json?.tenant_access_token || \"\";\n\nfor (const item of items) {\n  const binary = item.binary || {};\n  const bin = binary.data;\n\n  if (!bin || !bin.data) continue;\n\n  // 1. 先拿原始 fileName\n  let fileName = bin.fileName || bin.filename || \"\";\n\n  // 2. 如果没有名字，就用时间戳生成\n  if (!fileName) fileName = `${Date.now()}.jpg`;\n\n  // 3. 如果没有图片后缀，强制补一个 .jpg\n  if (!/\\.(jpg|jpeg|png|gif|webp)$/i.test(fileName)) {\n    fileName = fileName + \".jpg\";\n  }\n\n  // 4. MIME 类型兜底为 image/jpeg\n  const mimeType = bin.mimeType || \"image/jpeg\";\n\n  // 5. 计算文件大小（字节数）\n  const size = Buffer.from(bin.data, \"base64\").length;\n\n  // ✅ 关键：透传上一个节点传入的所有字段（item.json 原样保留）\n  out.push({\n    json: {\n      ...(item.json || {}), // 透传全部字段\n      file_name: fileName,\n      size,\n      mime_type: mimeType,\n      tenant_access_token: tenantToken,\n    },\n    binary: {\n      data: bin,\n    },\n  });\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[992,272],"id":"387962b2-b600-47c4-a6ef-d9677e0b8268","name":"规范化Binary为data"},{"parameters":{"jsCode":"// 当前节点输入：来自 Merge-合并上传结果（同一条item里已包含原始字段 + data.file_token）\nconst cur = $json;\n\n// 上传返回里的 file_token\nconst fileToken = cur?.data?.file_token || cur?.file_token || \"\";\n\n// 直接在原字段上追加封面 token（不要丢掉其它字段）\nreturn [{\n  json: {\n    ...cur,\n    封面_file_token: fileToken,\n  },\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2256,96],"id":"597842fb-8434-4b13-9803-6b11840cd5f5","name":"聚合数据字段"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7ad4089a-2cac-46b9-a2c4-82ff75ae97db","leftValue":"={{ $json[\"素材封面\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[432,288],"id":"3d9538eb-d9bc-4527-83c4-a304b680ee88","name":"判断素材封面是否有值"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1280,272],"id":"4f3af84b-6b0a-4731-8ce3-5b750fb6b347","name":"Loop Over Items1"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1520,288],"id":"d4cc5fd8-92fd-49ba-ba6f-cba51bf81cb6","name":"Wait","webhookId":"faac64e2-c497-4cc9-a343-9ad9a51c6dde"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2016,96],"id":"ea8004ec-bab2-4758-91cd-30b016310f9f","name":"Merge"},{"parameters":{"httpMethod":"POST","path":"linkedin","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"625f8070-0465-4b37-8bde-e55670008934","name":"Webhook","webhookId":"1eb83abe-fc01-484b-b56b-4cf9f2eb6f75"},{"parameters":{"jsCode":"// ================== 工具函数：时间戳转北京时间 yyyy-MM-dd ==================\nfunction formatToBeijing(timestamp) {\n  if (!timestamp) return \"\";\n\n  let ms = Number(timestamp);\n  if (Number.isNaN(ms)) return \"\";\n\n  // 兼容秒级时间戳：小于 10^12 认为是秒\n  if (ms < 1e12) ms = ms * 1000;\n\n  const beijingMs = ms + 8 * 60 * 60 * 1000;\n  const d = new Date(beijingMs);\n\n  const pad = (n) => (n < 10 ? \"0\" + n : \"\" + n);\n  const y = d.getUTCFullYear();\n  const m = pad(d.getUTCMonth() + 1);\n  const day = pad(d.getUTCDate());\n\n  return `${y}-${m}-${day}`;\n}\n\n// 根据 kw 生成一组可接受的匹配形式：原始短语 / 去空格 / 拆分成单词\nfunction buildKwCandidates(kw) {\n  const base = (kw || \"\").toLowerCase().trim();\n  if (!base) return [];\n\n  const candidates = new Set();\n  candidates.add(base);\n\n  const noSpace = base.replace(/\\s+/g, \"\");\n  if (noSpace && noSpace !== base) candidates.add(noSpace);\n\n  const parts = base.split(/\\s+/).filter(Boolean);\n  for (const p of parts) candidates.add(p);\n\n  return Array.from(candidates);\n}\n\n// ✅ 清洗 search_input：去掉外层引号、反斜杠转义\nfunction cleanSearchInput(v) {\n  if (v === null || v === undefined) return \"\";\n  let s = String(v).trim();\n\n  // 1) 去掉形如 \"\\\"xxx\\\"\" 的外层引号（只剥一层）\n  if (\n    (s.startsWith('\"') && s.endsWith('\"')) ||\n    (s.startsWith(\"'\") && s.endsWith(\"'\"))\n  ) {\n    s = s.slice(1, -1).trim();\n  }\n\n  // 2) 处理反斜杠转义：把 \\\" 变成 \"，\\\\ 变成 \\\n  // 用 JSON.parse 方式最稳：先包一层引号再 parse\n  try {\n    // 注意：如果 s 本身含有未转义的引号，需要先转义\n    const escaped = s.replace(/\\\\/g, \"\\\\\\\\\").replace(/\"/g, '\\\\\"');\n    s = JSON.parse(`\"${escaped}\"`);\n  } catch (e) {\n    // fallback：尽量手工替换常见转义\n    s = s.replace(/\\\\\"/g, '\"').replace(/\\\\\\\\/g, \"\\\\\");\n  }\n\n  // 3) 去掉仍残留的首尾引号（保险）\n  s = s.replace(/^[\"']+|[\"']+$/g, \"\").trim();\n\n  return s;\n}\n\n// ================== 1. 拿上下文（当前产品 + 生成搜索关键词 + 格式化输出） ==================\nconst apifyItems = $input.all();\nconst out = [];\n\n// ---- 1.1 当前循环的产品上下文（Loop Over Items） ----\nlet cur = {};\ntry {\n  cur = $node[\"Loop Over Items\"].json || {};\n} catch (e) {\n  cur = {};\n}\n\nconst currentProductName = cur.product_name || cur[\"产品名称\"] || \"\";\nconst currentSearchKeyword = (cur.search_keyword || \"\").toString().toLowerCase().trim();\n\n// ---- 1.2 从「生成搜索关键词」节点拿 search_keyword（仅用于过滤，不再输出） ----\nlet genSearchKeyword = \"\";\ntry {\n  const genJson = $node[\"生成搜索关键词\"].json || {};\n  genSearchKeyword = (genJson.search_keyword || genJson[\"search_keyword\"] || \"\")\n    .toString()\n    .toLowerCase()\n    .trim();\n} catch (e) {\n  genSearchKeyword = \"\";\n}\n\n// ---- 1.3 从「内容格式化输出」节点拿兜底的产品名称（仅用于过滤兜底） ----\nlet productNameFromFmt = currentProductName;\ntry {\n  const fmtJson = $node[\"内容格式化输出\"].json || {};\n  productNameFromFmt = fmtJson.product_name || fmtJson[\"产品名称\"] || productNameFromFmt;\n} catch (e) {}\n\n// ---- 1.4 最终用于过滤的关键词：优先 用 生成搜索关键词 → 当前 search_keyword → 产品名 ----\nconst kwBase = (genSearchKeyword || currentSearchKeyword || (productNameFromFmt || currentProductName || \"\"))\n  .toString()\n  .toLowerCase()\n  .trim();\n\nconst kwCandidates = buildKwCandidates(kwBase);\n\n// ================== 2. 处理 LinkedIn 返回的每条帖子 ==================\nfor (const item of apifyItems) {\n  // ✅ 兼容 item.json 顶层是数组的情况\n  const arr = Array.isArray(item.json) ? item.json : [item.json];\n\n  for (const p of arr) {\n    if (!p) continue;\n\n    if (!p.activity_id && !p.post_url) continue;\n\n    const article = p.article || {};\n    const stats = p.stats || {};\n    const postedAt = p.posted_at || p.postedAt || {};\n\n    const rawText = p.text || article.title || \"\";\n    const fullText = String(rawText).replace(/\\s+/g, \" \").trim();\n    if (!fullText) continue;\n\n    // ================== 二次文本过滤 ==================\n    if (kwCandidates.length > 0) {\n      const textLower = fullText.toLowerCase();\n      let hit = false;\n\n      for (const k of kwCandidates) {\n        if (!k) continue;\n        if (textLower.includes(k)) {\n          hit = true;\n          break;\n        }\n      }\n      if (!hit) continue;\n    }\n    // ================================================\n\n    // 点赞数：优先 LIKE，其次 total_reactions\n    let likeCount = stats.total_reactions || 0;\n    if (Array.isArray(stats.reactions)) {\n      const likeObj = stats.reactions.find((r) => String(r.type || \"\").toUpperCase() === \"LIKE\");\n      if (likeObj && typeof likeObj.count === \"number\") likeCount = likeObj.count;\n    }\n\n    const rawTimestamp = postedAt.timestamp || p.timestamp || Date.now();\n    const beijingTimeStr = formatToBeijing(rawTimestamp);\n\n    // 作者信息\n    const author = p.author || {};\n    const authorName = author.name || \"\";\n    const authorProfileUrl = author.profile_url || \"\";\n\n    // 分享数\n    const shareCount = typeof stats.shares === \"number\" ? stats.shares : (stats.shares || 0);\n\n    // 标签\n    const hashtags = Array.isArray(p.hashtags) ? p.hashtags : [];\n\n    // ✅ 产品名称：取 search_input，并清洗掉引号/反斜杠\n    const productNameForOutput = cleanSearchInput(p.search_input || \"\");\n\n    // ================== 按你的规则处理 content（支持 video / image / article） ==================\n    const content = p.content || article.content || {};\n    const cType = String(content.type || \"\").toLowerCase().trim();\n\n    let videoUrl = \"\";\n    let coverUrl = \"\";\n    let content_type = \"\";\n\n    if (cType === \"video\") {\n      videoUrl = content.url || \"\";\n      coverUrl = content.thumbnail_url || \"\";\n      content_type = \"video\";\n    } else if (cType === \"image\") {\n      coverUrl = content.url || \"\";\n      content_type = \"image\";\n    } else if (cType === \"article\") {\n      const a = content.article || {};\n      videoUrl = a.url || content.url || \"\";\n      coverUrl = a.thumbnail_url || content.thumbnail_url || \"\";\n      content_type = \"article\";\n    }\n\n    // 兜底：如果没有封面，尽量给一个\n    if (!coverUrl) {\n      coverUrl = article.thumbnail_url || author.image_url || p.image_url || \"\";\n    }\n    // ============================================================\n\n    out.push({\n      产品名称: productNameForOutput,\n      ID: p.activity_id || \"\",\n      平台: \"LinkedIn\",\n      原文链接: p.post_url || \"\",\n      内容: fullText,\n      点赞: likeCount,\n      评论: stats.comments || 0,\n      分享: shareCount,\n      标签: hashtags,\n      作者昵称: authorName,\n      作者主页: authorProfileUrl,\n      发布时间: beijingTimeStr,\n      video_id: p.activity_id || \"\",\n      视频链接: videoUrl,\n      素材封面: coverUrl,\n      content_type,\n    });\n  }\n}\n\n// ✅ n8n Code 节点必须返回 [{ json: {...} }, ...]\nreturn out.map((x) => ({ json: x }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,0],"id":"663308ad-bf17-4e9f-8065-ee490a9556ad","name":"LinkedIn-拆分_过滤_有效数据","alwaysOutputData":true},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1744,48],"id":"5d5d499a-fc52-4371-90e6-d838d64b4b5d","name":"Respond to Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"216c4917-56e2-4836-9003-d07e27cceb37","leftValue":"={{ $json.content_type }}","rightValue":"article","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,320],"id":"ffc6f96e-d6b6-444e-996a-4fc96c3c0973","name":"判断数据类型"}],"connections":{"Replace Me":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"LinkedIn-Actor获取数据":{"main":[[{"node":"LinkedIn-拆分_过滤_有效数据","type":"main","index":0}]]},"判断去重":{"main":[[{"node":"判断素材封面是否有值","type":"main","index":0}]]},"表格5写入新的数据":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"从表格5获取已存ID":{"main":[[{"node":"提取已存ID列表","type":"main","index":0}]]},"提取已存ID列表":{"main":[[{"node":"LinkedIn-Actor获取数据","type":"main","index":0}]]},"下载素材封面图片":{"main":[[{"node":"规范化Binary为data","type":"main","index":0}]]},"上传封面图片至飞书":{"main":[[{"node":"Merge","type":"main","index":1}]]},"获取飞书tenant_access_token":{"main":[[{"node":"从表格5获取已存ID","type":"main","index":0}]]},"规范化Binary为data":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"聚合数据字段":{"main":[[{"node":"表格5写入新的数据","type":"main","index":0}]]},"判断素材封面是否有值":{"main":[[{"node":"下载素材封面图片","type":"main","index":0}],[{"node":"表格5写入新的数据","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Replace Me","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"上传封面图片至飞书","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"聚合数据字段","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"获取飞书tenant_access_token","type":"main","index":0}]]},"LinkedIn-拆分_过滤_有效数据":{"main":[[{"node":"判断数据类型","type":"main","index":0}]]},"判断数据类型":{"main":[[{"node":"判断去重","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c50c581d-4d0a-494f-b7f7-57f0ecc9b458","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2025-12-16T12:35:27.110Z","createdAt":"2025-12-16T12:35:27.110Z","role":"workflow:owner","workflowId":"Sa2LQukOeZdgbjF2","projectId":"2hoECj5RzPkbXIK6","project":{"updatedAt":"2025-12-16T12:31:47.827Z","createdAt":"2025-12-16T12:30:18.158Z","id":"2hoECj5RzPkbXIK6","name":"冷 布丁 <498128186@qq.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-16T12:30:18.159Z","createdAt":"2025-12-16T12:30:18.159Z","userId":"c46ce840-de81-412d-a160-69fb3885a0dd","projectId":"2hoECj5RzPkbXIK6","user":{"updatedAt":"2025-12-17T05:04:54.000Z","createdAt":"2025-12-16T12:30:17.247Z","id":"c46ce840-de81-412d-a160-69fb3885a0dd","email":"498128186@qq.com","firstName":"冷","lastName":"布丁","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-16T12:31:51.645Z","personalization_survey_n8n_version":"2.0.2"},"settings":{"userActivated":false,"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-17","isPending":false}}]}}],"tags":[],"activeVersion":null}
