backups/2025-12-17_16-56-29/项目一、搜TikTok-JDEdor51h4C6uj9p.json
{"updatedAt":"2025-12-16T15:02:38.997Z","createdAt":"2025-12-16T12:36:36.750Z","id":"JDEdor51h4C6uj9p","name":"项目一、搜TikTok","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"tiktok","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1696,176],"id":"59f9db7d-f24d-4141-ad06-ca8b520990b8","name":"Webhook","webhookId":"b32ff9a1-be74-4190-9784-f310bcdc8182","retryOnFail":false},{"parameters":{"jsCode":"return $input.first().json.data.search_item_list"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-768,176],"id":"5f790621-f2c3-433e-b167-d6fc41184dd1","name":"提取data"},{"parameters":{"jsCode":"// 从输入数据中提取所需字段\ntry {\n  const items = $input.all();\n  \n  // 检查输入是否有数据\n  if (!items || items.length === 0) {\n    // 如果没有数据，返回一个空数组，这样节点不会停止执行\n    return [{ \n      '产品名称': \"\",\n      '素材封面': '',\n      '平台': '',\n      '标题': '',\n      '文案': '',\n      '点赞': 0,\n      '评论': 0,\n      '发布时间': '',\n      '原文链接': '',\n      '视频ID': '' // 新增字段\n    }];\n  }\n\n  const result = [];\n  \n  for (const item of items) {\n    try {\n      // 检查是否有有效数据\n      if (!item || !item.json || !item.json.aweme_info) {\n        continue;\n      }\n      \n      const aweme = item.json.aweme_info;\n      \n      // 1. 产品名称 - 从anchors中提取\n      const productName = $items(\"Webhook\")[0].json.query.keyword;\n      \n      \n      // 2. 素材封面 - 取第一个封面URL\n      let coverUrl = '';\n      if (aweme.video) {\n        if (aweme.video.origin_cover && aweme.video.origin_cover.url_list && aweme.video.origin_cover.url_list.length > 0) {\n          coverUrl = aweme.video.origin_cover.url_list[0] || '';\n        } else if (aweme.video.cover && aweme.video.cover.url_list && aweme.video.cover.url_list.length > 0) {\n          coverUrl = aweme.video.cover.url_list[0] || '';\n        } else if (aweme.video.dynamic_cover && aweme.video.dynamic_cover.url_list && aweme.video.dynamic_cover.url_list.length > 0) {\n          coverUrl = aweme.video.dynamic_cover.url_list[0] || '';\n        }\n      }\n      \n      // 3. 平台 - 固定为TikTok\n      const platform = 'TikTok';\n      \n      // 4. 标题 - desc字段\n      const title = aweme.desc || '';\n      \n      // 5. 文案 - content_desc或desc\n      let content = aweme.content_desc || aweme.desc || '';\n      // 处理JSON格式的content_desc\n      if (content.startsWith('[') && content.endsWith(']')) {\n        try {\n          const contentArr = JSON.parse(content);\n          content = Array.isArray(contentArr) ? contentArr.join(' ') : content;\n        } catch (e) {\n          // 保持原样\n        }\n      }\n      \n      // 6. 点赞数\n      const likeCount = aweme.statistics ? (aweme.statistics.digg_count || 0) : 0;\n      \n      // 7. 评论数\n      const commentCount = aweme.statistics ? (aweme.statistics.comment_count || 0) : 0;\n      \n      // 8. 发布时间 - 转换时间戳\n      let publishTime = '';\n      if (aweme.create_time) {\n        try {\n          // create_time是秒级时间戳，需要乘以1000转换为毫秒\n          const date = new Date(aweme.create_time * 1000);\n          publishTime = date.toISOString().split('T')[0] + ' ' + date.toTimeString().split(' ')[0];\n        } catch (e) {\n          console.log('转换发布时间时出错:', e.message);\n          publishTime = '未知时间';\n        }\n      }\n      \n      // 9. 原文链接 - 只提取基础URL部分\n      let originalLink = '';\n      if (aweme.share_info && aweme.share_info.share_url) {\n        // 提取基础URL部分，去掉查询参数\n        const fullUrl = aweme.share_info.share_url || '';\n        // 查找视频ID后的问号位置\n        const videoIdMatch = fullUrl.match(/\\/video\\/(\\d+)/);\n        if (videoIdMatch) {\n          const videoId = videoIdMatch[1];\n          const videoIndex = fullUrl.indexOf(videoId);\n          if (videoIndex > -1) {\n            // 找到视频ID后的下一个问号\n            const afterVideoId = fullUrl.substring(videoIndex + videoId.length);\n            const questionMarkIndex = afterVideoId.indexOf('?');\n            if (questionMarkIndex > -1) {\n              // 截取到问号之前的部分\n              originalLink = fullUrl.substring(0, videoIndex + videoId.length + questionMarkIndex);\n            } else {\n              // 如果没有问号，使用完整URL\n              originalLink = fullUrl;\n            }\n          }\n        } else {\n          // 如果没有匹配到视频ID，尝试简单的方法：截取到第一个问号之前\n          const questionMarkIndex = fullUrl.indexOf('?');\n          if (questionMarkIndex > -1) {\n            originalLink = fullUrl.substring(0, questionMarkIndex);\n          } else {\n            originalLink = fullUrl;\n          }\n        }\n      }\n      \n      // 10. 视频ID - 新增字段\n      let videoId = '';\n      if (aweme.aweme_id) {\n        // 如果直接有aweme_id字段\n        videoId = aweme.aweme_id.toString();\n      } else if (aweme.video && aweme.video.vid) {\n        // 或者从video.vid字段获取\n        videoId = aweme.video.vid.toString();\n      } else if (originalLink) {\n        // 从原文链接中提取视频ID\n        const match = originalLink.match(/\\/video\\/(\\d+)/);\n        if (match && match[1]) {\n          videoId = match[1];\n        }\n      } else if (aweme.share_info && aweme.share_info.share_url) {\n        // 从分享链接中提取\n        const match = aweme.share_info.share_url.match(/\\/video\\/(\\d+)/);\n        if (match && match[1]) {\n          videoId = match[1];\n        }\n      }\n      \n      result.push({\n        '产品名称': productName || '',\n        '素材封面': coverUrl || '',\n        '平台': platform || '',\n        '标题': title.substring(0, 100) || '', // 限制标题长度\n        '文案': content.substring(0, 200) || '', // 限制文案长度\n        '点赞': likeCount || 0,\n        '评论': commentCount || 0,\n        '发布时间': publishTime,\n        '原文链接': originalLink,\n        '视频ID': videoId // 新增字段\n      });\n    } catch (itemError) {\n      console.log('处理单个项目时出错:', itemError.message);\n      // 继续处理下一个项目\n      continue;\n    }\n  }\n  \n  // 如果结果为空，返回一个默认项\n  if (result.length === 0) {\n    return [{ \n      '产品名称': '未找到产品信息',\n      '素材封面': '',\n      '平台': 'TikTok',\n      '标题': '未找到标题',\n      '文案': '未找到文案',\n      '点赞': 0,\n      '评论': 0,\n      '发布时间': '未知时间',\n      '原文链接': '',\n      '视频ID': '' // 新增字段\n    }];\n  }\n  \n  return result;\n} catch (error) {\n  console.log('处理数据时发生错误:', error.message);\n  // 确保总是返回数据，即使出错\n  return [{ \n    '产品名称': '处理错误',\n    '素材封面': '',\n    '平台': 'TikTok',\n    '标题': '数据处理失败',\n    '文案': error.message,\n    '点赞': 0,\n    '评论': 0,\n    '发布时间': new Date().toISOString().split('T')[0],\n    '原文链接': '',\n    '视频ID': '' // 新增字段\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-528,176],"id":"c432a754-bebe-4119-944c-6fd635b316f5","name":"数据格式化输出"},{"parameters":{"url":"https://api.tikhub.dev/api/v1/tiktok/app/v3/fetch_video_search_result","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"keyword","value":"={{ $items('Webhook')[0].json.query.keyword }}"},{"name":"offset","value":"0"},{"name":"count","value":"20"},{"name":"sort_type","value":"0"},{"name":"publish_time","value":"0"},{"name":"region","value":"US"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1040,176],"id":"fbe6c31b-e8b1-4415-af06-d91543914f04","name":"通过关键字获取tiktok视频信息","credentials":{"httpBearerAuth":{"id":"hnYPm5njQJ4QnJ2F","name":"Apifox tikhub"}}},{"parameters":{},"type":"n8n-nodes-feishu-lark.lark","typeVersion":1,"position":[256,176],"id":"784d36e4-f827-4ab9-aca8-c1e9effeed67","name":"写入飞书","webhookId":"f3240140-584b-47f1-abfb-0f5197712f79","credentials":{"larkApi":{"id":"Gt61sQPCXtiiu5nz","name":"飞书API"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-320,176],"id":"215fc9a6-9ecb-4019-ac7f-c8be254ae312","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[576,208],"id":"a0bdecca-4755-4caf-b420-51a218f4c06e"},{"parameters":{"resource":"base","operation":"searchRecords","app_token":{"__rl":true,"value":"HnPLbl7Ygaa8FSsIwpQcGQnbn9O","mode":"id"},"table_id":{"__rl":true,"value":"tblfxsF59lJEXdxN","mode":"id"},"body":"{\n  \"limit\":1000\n}","options":{}},"type":"n8n-nodes-feishu-lark.lark","typeVersion":1,"position":[-1472,176],"id":"05c911bd-4062-4dfb-9b27-dc7cd0b42f6c","name":"获取飞书表格信息","webhookId":"b5c885ff-7901-401b-b02b-9c4fe0513c3f","credentials":{"larkApi":{"id":"Gt61sQPCXtiiu5nz","name":"飞书API"}}},{"parameters":{"jsCode":"// 专门针对你提供的原始数据结构的版本\ntry {\n  // 获取输入数据\n  const input = $input.all();\n  const videoIds = [];\n  \n  // 假设输入是你提供的完整数据结构\n  if (input && input[0]) {\n    // 获取实际数据\n    const data = input[0].json || input[0];\n    \n    console.log(\"输入数据类型:\", typeof data);\n    \n    // 根据你提供的数据结构提取\n    // 你的数据是一个数组，包含一个对象，这个对象有items数组\n    if (Array.isArray(data) && data[0]) {\n      const mainData = data[0];\n      \n      if (mainData.items && Array.isArray(mainData.items)) {\n        console.log(`找到 ${mainData.items.length} 个items`);\n        \n        // 遍历所有items，提取每个视频ID\n        mainData.items.forEach((item, index) => {\n          if (item.fields && item.fields['视频ID'] && Array.isArray(item.fields['视频ID'])) {\n            item.fields['视频ID'].forEach(idObj => {\n              if (idObj && idObj.text) {\n                console.log(`视频 ${index + 1}: ${idObj.text}`);\n                videoIds.push(idObj.text);\n              }\n            });\n          }\n        });\n      }\n    }\n    // 如果数据直接是包含items的对象\n    else if (data && data.items && Array.isArray(data.items)) {\n      console.log(`找到 ${data.items.length} 个items`);\n      \n      data.items.forEach((item, index) => {\n        if (item.fields && item.fields['视频ID'] && Array.isArray(item.fields['视频ID'])) {\n          item.fields['视频ID'].forEach(idObj => {\n            if (idObj && idObj.text) {\n              console.log(`视频 ${index + 1}: ${idObj.text}`);\n              videoIds.push(idObj.text);\n            }\n          });\n        }\n      });\n    }\n  }\n  \n  console.log(\"提取到的视频ID数量:\", videoIds.length);\n  console.log(\"视频ID列表:\", videoIds);\n  \n  // 返回结果\n  return [{\n    json: {\n      videoIds: videoIds\n    }\n  }];\n  \n} catch (error) {\n  console.error(\"错误:\", error);\n  return [{\n    json: {\n      videoIds: []\n    }\n  }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1264,176],"id":"ea662ed1-a1f3-43e5-a759-5c5d9d1cf190","name":"提取视频ID信息"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"e961f28f-bd23-42a4-bb07-96855ec91c06","leftValue":"={{ $items(\"提取视频ID信息\")[0].json.videoIds }}","rightValue":"={{ $json[\"视频ID\"] }}","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-80,192],"id":"9ece29ac-1bf9-4369-9caf-a067f2dfa074","name":"If"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[0,0],"id":"cae5380b-70f2-49d7-b278-6679826addbc","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"获取飞书表格信息","type":"main","index":0}]]},"提取data":{"main":[[{"node":"数据格式化输出","type":"main","index":0}]]},"通过关键字获取tiktok视频信息":{"main":[[{"node":"提取data","type":"main","index":0}]]},"数据格式化输出":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"写入飞书":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"获取飞书表格信息":{"main":[[{"node":"提取视频ID信息","type":"main","index":0}]]},"提取视频ID信息":{"main":[[{"node":"通过关键字获取tiktok视频信息","type":"main","index":0}]]},"If":{"main":[[{"node":"写入飞书","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f0e8fa65-5512-40ef-8dd2-29c1f5ba55c5","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2025-12-16T12:36:36.771Z","createdAt":"2025-12-16T12:36:36.771Z","role":"workflow:owner","workflowId":"JDEdor51h4C6uj9p","projectId":"2hoECj5RzPkbXIK6","project":{"updatedAt":"2025-12-16T12:31:47.827Z","createdAt":"2025-12-16T12:30:18.158Z","id":"2hoECj5RzPkbXIK6","name":"冷 布丁 <498128186@qq.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-16T12:30:18.159Z","createdAt":"2025-12-16T12:30:18.159Z","userId":"c46ce840-de81-412d-a160-69fb3885a0dd","projectId":"2hoECj5RzPkbXIK6","user":{"updatedAt":"2025-12-17T05:04:54.000Z","createdAt":"2025-12-16T12:30:17.247Z","id":"c46ce840-de81-412d-a160-69fb3885a0dd","email":"498128186@qq.com","firstName":"冷","lastName":"布丁","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-16T12:31:51.645Z","personalization_survey_n8n_version":"2.0.2"},"settings":{"userActivated":false,"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-17","isPending":false}}]}}],"tags":[{"updatedAt":"2025-12-16T12:36:20.230Z","createdAt":"2025-12-16T12:36:20.230Z","id":"oDb7nooF2OQTP6ys","name":"Project"}],"activeVersion":null}
