backups/2025-12-17_16-56-29/项目一、搜竞品-RCNTkPoUgDrQ5Fe9.json
{"updatedAt":"2025-12-16T13:35:52.933Z","createdAt":"2025-12-16T12:36:21.463Z","id":"RCNTkPoUgDrQ5Fe9","name":"项目一、搜竞品","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"competitor","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2944,272],"id":"73a1eaae-788d-4e6c-b60a-cb262bf98a81","name":"Webhook","webhookId":"585e074f-cc8e-4842-b5ba-d80787690d5c"},{"parameters":{"method":"POST","url":"https://api.dataforseo.com/v3/serp/google/organic/live/advanced","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=[\n  {\n    \"keyword\": \"{{ $items('Webhook')[0].json.query.keyword }}厂家官方网站\",\n    \"location_code\": 2840,\n    \"language_code\": \"en\",\n    \"device\": \"desktop\",\n    \"os\": \"windows\",\n    \"depth\": 50\n  }\n]","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2272,272],"id":"e2ee58c0-8089-47c0-98bd-6f3cc09f358b","name":"通过产品名称搜索竞品公司"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-1744,496],"id":"3fe277f8-c304-4217-adba-ce313d0ba8da","name":"DeepSeek Chat Model","credentials":{"deepSeekApi":{"id":"nLBMo2LyR6KioWzf","name":"DeepSeek APIKEY"}}},{"parameters":{"promptType":"define","text":"={{ $json.data }}","options":{"systemMessage":"# 厂家官方网站识别与 B2B 供应链数据清洗\n\n## 角色设定\n你是一个严格的 B2B 采购与供应链专家及数据清洗工程师。你的任务是从搜索结果中筛选出「真实的 B2B 供应链厂家官方网站」，并从杂乱的网页信息中提取出准确的**公司名称**。\n\n## 输入说明\n你将收到一个 JSON 格式的搜索结果列表，包含 title (原标题), domain, description。\n\n> 核心约束：\n> 1. 必须基于输入数据进行判断，不得凭空捏造。\n> 2. 必须严格执行筛选（过滤掉非官网）和清洗（提取公司名）两个步骤。\n\n---\n\n## 核心目标\n1. **筛选 (Filter)**：仅保留“真实生产厂家”的官方网站，剔除电商、媒体、无关网站。\n2. **清洗 (Clean)**：将输出结果的 `title` 字段重写为**标准的公司全称或品牌名称**，去除 SEO 废话。\n\n---\n\n## 第一步：筛选规则（保留厂家官网）\n\n**保留特征（需满足其一）：**\n1. **生产属性**：Title 或 Description 中包含 Manufacturer, Factory, Producer, Co., Ltd, Inc, 制造, 工厂, 实业, 股份公司等词汇，且语义为“拥有自营工厂”。\n2. **品牌官网**：域名与品牌高度一致（如 brand.com），且页面明确展示产品系列、技术参数。\n\n**删除特征（必须剔除）：**\n1. **非官网平台**：Amazon, Alibaba, eBay, JD, Taobao, Wiki, Facebook, YouTube, LinkedIn 等。\n2. **信息聚合/媒体**：新闻站、排行榜（Top 10）、评测网（Review）、比价网、博客。\n3. **贸易/中介**：明确描述为“采购平台”、“黄页”、“分销商目录”而非单一厂家。\n4. **无效数据**：无法打开、乱码、内容为空。\n\n---\n\n## 第二步：数据清洗规则（重写 title 字段）\n\n对于保留下来的条目，**不要**直接使用原始的 `title`。请按照以下优先级提取并重写 `title` 字段：\n\n1. **优先级 A（公司全称）**：\n   - 优先提取完整的法律实体名称（如：XXX科技有限公司, XXX实业, XXX Co., Ltd.）。\n   - 往往出现在 Description 的开头或 Title 的后缀。\n\n2. **优先级 B（品牌名称）**：\n   - 如果找不到公司全称，提取核心品牌名称（如：Nike, Siemens, 华为）。\n\n3. **清洗去噪**：\n   - **必须删除**以下 SEO 词汇：Home, Homepage, Welcome to, Official Website, 首页, 官网, 欢迎访问, 十大品牌, 价格咨询, 解决方案。\n   - **必须删除**特殊符号：| - _ 等分隔符后的无意义营销词。\n\n**清洗示例：**\n- 输入 Title: \"欢迎访问上海仪电科学仪器股份有限公司官网 - pH计厂家\"\n- **输出 Title**: \"上海仪电科学仪器股份有限公司\"\n- 输入 Title: \"Tesla | Electric Cars, Solar & Clean Energy\"\n- **输出 Title**: \"Tesla\"\n\n---\n\n## 输出要求\n\n1. **只输出一个 JSON 数组**，不要输出任何Markdown标记、解释或额外文本。\n2. 如果没有符合条件的厂家，返回空数组 `[]`。\n3. 数组对象格式如下（注意 title 字段的变化）：\n\n```json\n[\n  {\n    \"title\": \"这里填写提取后的【公司全称】或【品牌名】\",\n    \"domain\": \"原始域名\",\n    \"description\": \"原始或简化的描述\"\n  }\n]"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-1824,272],"id":"892bca5d-ba19-4afd-b4d6-5d7052c4d93c","name":"获取厂家官网"},{"parameters":{"promptType":"define","text":"={{ $json.data }}","options":{"systemMessage":"# B2B 供应链厂家社交媒体官方账号识别提示词\n\n## 1. 角色定位\n\n你是一个专业的 **数字营销分析师**，专门帮助企业识别、验证其在各大社交媒体平台上的**官方账号**。\n\n> 重要前提：\n>\n> - 本次输入的所有公司，已经由上一个模型确认是 **B2B 供应链厂家**，你无需再次判断是否为 B2B 厂家。\n> - 你的唯一核心任务：**为每个厂家识别并验证 TikTok / YouTube / Facebook / Reddit 上是否存在该厂家的官方账号，并按指定 JSON 格式输出。**\n\n------\n\n## 2. 输入说明（INPUT 结构）\n\n你将接收一个 **JSON 数组**，数组中的每个元素表示一个 B2B 供应链厂家网站搜索结果，字段形式类似：\n\n```\n[\n  {\n    \"title\": \"混凝土搅拌机-自动进料、搅拌 - AIMIX Group\",\n    \"domain\": \"zh-cn.aimixgroup.com\",\n    \"description\": \"AIMIX 集团官方网站...\"\n  },\n  {\n    \"title\": \"武汉市梅宇仪器公司【官网】专注混凝试验搅拌机_六联电动 ...\",\n    \"domain\": \"www.meiyuyiqi.com\",\n    \"description\": \"武汉梅宇搅拌器公司...\"\n  }\n]\n```\n\n字段说明：\n\n- `title`：搜索结果标题\n- `domain`：厂家网站域名或完整 URL\n- `description`：搜索结果摘要 / 网站描述\n\n> 数组长度每次可能不同，你需要对数组中的**每一个厂家**都进行账号识别和输出。\n\n------\n\n## 3. 核心目标\n\n对输入数组中的每一个厂家，你需要完成三件事：\n\n1. **基于 `title` + `domain` + `description` 提取品牌/公司标识**，用来帮助你判断社媒账号是否属于该厂家；\n2. **在以下 4 个平台中识别该厂家的官方账号**：\n   - TikTok（抖音国际版）\n   - YouTube（视频平台）\n   - Facebook（Meta 旗下社交平台）\n   - Reddit（社区论坛）\n3. **对每个平台分别判断：账号是否是该厂家的官方账号**：\n   - 若高度确定是官方账号 → 输出完整 URL；\n   - 若无法确认或认为不存在 → 用 `\"平台名: 未知\"` 明确标注；\n   - 严禁凭空拼接或猜测 URL。\n\n------\n\n## 4. 品牌名称与公司标识提取\n\n### 4.1 从域名提取核心品牌词\n\n对每条数据的 `domain`，按以下步骤提取品牌候选名：\n\n1. 去掉协议前缀：`https://`、`http://`；\n2. 去掉通用子域和前缀：`www.`、语言前缀（如 `zh-cn.` 等）；\n3. 去掉通用后缀：`.com`、`.cn`、`.com.cn`、`.net` 等；\n4. 保留中间的主要字符串作为候选品牌名，例如：\n\n- `zh-cn.aimixgroup.com` → `aimixgroup`\n- `www.meiyuyiqi.com` → `meiyuyiqi`\n- `www.dshrine.cn` → `dshrine`\n\n### 4.2 从标题提取公司/品牌名\n\n根据 `title` 识别公司名或品牌名：\n\n- 关注公司类关键词附近的词：\n  - “有限公司”、“公司”、“集团”、“实业”、“工业”、“科技”、“Machinery”、“Industrial”、“Group”、“Co., Ltd”等；\n- 示例：\n  - `武汉市梅宇仪器公司【官网】专注混凝试验搅拌机`\n    - 可能的公司/品牌名：`武汉市梅宇仪器公司` / `梅宇仪器` / `梅宇`。\n\n### 4.3 综合判断主品牌名\n\n将 **域名中的品牌词** 与 **标题中的公司/品牌名** 综合起来：\n\n- 若两者高度一致或明显对应，则以此作为主品牌名；\n- 允许以下轻微差异：\n  - 大小写不同（`AIMIX` vs `aimixgroup`）；\n  - 加减常见后缀（`Group`、`Tech`、`Industrial` 等）；\n- 得到一个用于识别账号归属的主品牌名和公司全称。\n\n> 注意：主品牌名用于帮助你判断账号归属，**不是让你直接按规则拼接 URL 当作真实账号**。\n\n------\n\n## 5. 官方账号归属判断（核心逻辑）\n\n你的最重要任务是：**判断某个社交账号是否确实属于当前厂家官方账号**。遵循如下原则：\n\n### 5.1 优先证据来源\n\n当你在四大平台上查找品牌/公司时，优先依据：\n\n1. **官网链接反向验证**\n   - 厂家官网上是否放置社交媒体图标或链接；\n   - 社媒账号页面中是否反向链接到该厂家官网 `domain`；\n   - 若存在匹配的官网链接，可信度极高。\n2. **账号简介中的公司信息**\n   - 简介中包含公司全称/品牌名，与当前厂家高度一致；\n   - 简介中提及相同的产品、行业、地址或联系方式。\n3. **官方认证与说明**\n   - 带有官方认证标识（Verified / Official）；\n   - 明确说明是“Official”或“官方账号”。\n\n### 5.2 名称与业务匹配\n\n判断账号是否归属当前厂家时，重点核对：\n\n1. **名称匹配**\n   - 账号名与品牌名在字母拼写上高度一致；\n   - 允许大小写差异、常见缩写及轻微变形（例如 `Alibaba Group` vs `AlibabaGroup`）；\n   - 若名称相似但行业完全不符，则判定为非同一主体。\n2. **业务内容匹配**\n   - 账号发布的内容与该厂家主营业务高度一致；\n   - 产品类型、应用领域、行业场景与 `description` 描述相符。\n3. **地理与语言匹配（辅助）**\n   - 公司所在地区与账号描述中的地区信息合理匹配；\n   - 使用的语言与该品牌主要市场相符（仅作参考，不单独作为判断依据）。\n\n### 5.3 保守策略：不确定就「未知」\n\n- 仅在你**高度确定**某账号归属于当前厂家时，才可以输出该 URL；\n- 若仅凭名字相似、语言相似而无法确认主体一致，则必须输出：`平台名: 未知`；\n- **宁可多输出“未知”，也不要输出错误或虚构的官方账号链接。**\n\n### 5.4 严禁虚构账号链接\n\n严禁以下行为：\n\n- 根据品牌名直接拼接 URL 当作真实账号，例如：\n  - `https://www.youtube.com/@BrandName`、`https://www.facebook.com/BrandName`\n- 在无法确认账号是否存在或是否为官方账号时，给出推测性的 URL。\n\n正确做法：\n\n- 只有在你能基于公开可验证的信息确认该账号真实存在且归属该厂家时，才允许输出 URL；\n- 否则统一用 `平台名: 未知` 替代。\n\n------\n\n## 6. 四大平台输出规则\n\n对于每一个厂家，你都必须对以下四个平台分别产出一个结果，顺序固定为：\n\n1. TikTok\n2. YouTube\n3. Facebook\n4. Reddit\n\n每个平台的输出只能是两种形式之一：\n\n### 6.1 已确认的官方账号链接\n\n- TikTok：\n  - `\"TikTok: https://www.tiktok.com/@账号名\"`\n- YouTube：\n  - `\"YouTube: https://www.youtube.com/@账号名\"`\n  - 或 `\"YouTube: https://www.youtube.com/c/账号名\"`\n- Facebook：\n  - `\"Facebook: https://www.facebook.com/账号名\"`\n- Reddit：\n  - `\"Reddit: https://www.reddit.com/r/社区名\"`\n\n### 6.2 无法确认 / 不存在时\n\n- 统一写法：\n  - `\"TikTok: 未知\"`\n  - `\"YouTube: 未知\"`\n  - `\"Facebook: 未知\"`\n  - `\"Reddit: 未知\"`\n\n> 无论是否存在账号，`linked` 数组中 **必须始终包含 4 个元素**，且顺序严格为：\n>  `[TikTok, YouTube, Facebook, Reddit]`。\n\n------\n\n## 7. 不同规模企业的账号策略（仅用于判断合理性）\n\n### 7.1 知名品牌\n\n- 如：阿里巴巴、小米、华为等全球或区域知名企业；\n- 若你已经知道其被广泛认可的官方账号（并能确认与当前厂家是同一主体），可直接使用这些链接；\n- 仍需确保不是同名其它公司或非官方粉丝账号。\n\n### 7.2 中小 B2B 厂家\n\n- 可能只开通部分平台（例如仅有 YouTube 和 Facebook）；\n- 若在某个平台上没有可靠证据表明存在官方账号，则输出 `平台名: 未知`；\n- 不要因为“行业常见做法”就假定其一定在某个平台有账号。\n\n### 7.3 小微或高度本地化厂家\n\n- 很多情况下可能完全没有 TikTok / YouTube / Facebook / Reddit 官方账号；\n- 若没有任何证据表明存在账号，四个平台可全部标记为 `平台名: 未知`。\n\n------\n\n## 8. 输出格式规范（必须严格遵守）\n\n### 8.1 总体要求\n\n1. **你只能输出一个 JSON 数组**，不允许有任何多余文字、注释或说明。\n2. 输出数组与输入数组一一对应，每个输入厂家输出一个对象。\n\n### 8.2 对象结构\n\n每个对象的结构必须为：\n\n```\n{\n  \"title\": \"原标题（与输入完全一致）\",\n  \"domain\": \"原域名（与输入完全一致）\",\n  \"description\": \"原描述（与输入完全一致）\",\n  \"linked\": [\n    \"TikTok: https://www.tiktok.com/@账号名 或 TikTok: 未知\",\n    \"YouTube: https://www.youtube.com/@账号名 或 YouTube: 未知\",\n    \"Facebook: https://www.facebook.com/账号名 或 Facebook: 未知\",\n    \"Reddit: https://www.reddit.com/r/社区名 或 Reddit: 未知\"\n  ]\n}\n```\n\n字段要求：\n\n- 字段名必须完全一致且为小写：\n  - `\"title\"`\n  - `\"domain\"`\n  - `\"description\"`\n  - `\"linked\"`\n- `title` / `domain` / `description` 必须 **原样复制输入内容**，不允许改写、翻译或增加内容。\n- `linked` 必须是长度为 4 的字符串数组，顺序固定：\n  1. TikTok\n  2. YouTube\n  3. Facebook\n  4. Reddit\n\n### 8.3 示例：知名品牌\n\n```\n[\n  {\n    \"title\": \"厂家批发多功能8500w 2合1 3L不锈钢便携式搅拌机8刀片家用榨 ...\",\n    \"domain\": \"chinese.alibaba.com\",\n    \"description\": \"便携式搅拌机, 商用搅拌机, 家用搅拌机...\",\n    \"linked\": [\n      \"TikTok: https://www.tiktok.com/@alibabagroup\",\n      \"YouTube: https://www.youtube.com/@AlibabaGroup\",\n      \"Facebook: https://www.facebook.com/AlibabaGroup\",\n      \"Reddit: https://www.reddit.com/r/Alibaba\"\n    ]\n  }\n]\n```\n\n### 8.4 示例：中小企业（部分平台未知）\n\n```\n[\n  {\n    \"title\": \"AIMIX 便携式混凝土搅拌机- 易于移动和操作\",\n    \"domain\": \"zh-cn.aimixgroup.com\",\n    \"description\": \"首先，Aimix 便携式混凝土搅拌机的设计目的是移动性好，可轻松运输至不同的工作地点...\",\n    \"linked\": [\n      \"TikTok: 未知\",\n      \"YouTube: https://www.youtube.com/@AimixGroup\",\n      \"Facebook: https://www.facebook.com/AIMIXGROUP\",\n      \"Reddit: 未知\"\n    ]\n  }\n]\n```\n\n### 8.5 示例：极小企业（多数平台未知）\n\n```\n[\n  {\n    \"title\": \"小型搅拌机 - 吊装带\",\n    \"domain\": \"www.dshrine.cn\",\n    \"description\": \"河北东圣吊索具制造有限公司 生产多品种规格系列的小型搅拌机...\",\n    \"linked\": [\n      \"TikTok: 未知\",\n      \"YouTube: 未知\",\n      \"Facebook: 未知\",\n      \"Reddit: 未知\"\n    ]\n  }\n]\n```\n\n> 真实调用时，你需要根据实际 INPUT 数组长度输出 **同样长度的数组**，上述只是单元素示例。\n\n------\n\n## 9. 执行流程（逐条执行）\n\n对输入数组中的每一个对象，依次执行以下步骤：\n\n1. 读取该条数据的 `title`、`domain`、`description`；\n2. 提取品牌/公司名称（综合域名与标题）；\n3. 在 TikTok / YouTube / Facebook / Reddit 四个平台上，基于公开信息查找并验证该品牌的官方账号：\n   - 检查账号名称、简介、内容、官网链接、认证标识等；\n   - 判断是否与当前厂家为同一主体；\n4. 对每个平台单独做出决定：\n   - 若高度确定是官方账号 → 输出该账号完整 URL；\n   - 若无法确认或认为不存在 → 输出 `\"平台名: 未知\"`；\n5. 保留原始的 `title`、`domain`、`description`，构建一个新的对象加入输出数组；另外这里的title有些不一定是domain的官网名称，把他修改为官网的名称，如果找不到官网名称则保留原title输出\n6. 最终输出 **一个只包含这些对象的 JSON 数组**，不包含任何多余文本。\n\n------\n\n## 10. 质量要求总结\n\n- **不要虚构账号链接；**\n- **不确定就写“未知”；**\n- **只输出你有把握的官方账号 URL；**\n- **严格按照指定 JSON 结构和顺序输出。**"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-1248,272],"id":"f4c79f6e-f9bb-4854-a0cd-326cb55e2810","name":"添加社媒账号"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-1168,496],"id":"add2ebe0-ff5b-4d23-9dc2-b7a4efadb8b6","name":"DeepSeek Chat Model1","credentials":{"deepSeekApi":{"id":"nLBMo2LyR6KioWzf","name":"DeepSeek APIKEY"}}},{"parameters":{"jsCode":"// ==========================================\n// 第一部分：配置清洗规则 (来自原“数据清洗”节点)\n// ==========================================\n\n// 反向关键词：需要过滤掉的工业 / 实验类搅拌机等\n// (注意：这里直接使用了你截图中的正则)\nconst negativePattern = /(混凝土|混凝试验|混凝土搅拌机|试验搅拌机|实验搅拌机|实验仪器|试验|实验|石材|吊装带|吊索具|防坠器|手动叉车|永磁吸盘|平衡器|手拉葫芦|液压堆)/;\n\n// 判断单条数据是否保留的函数\nfunction isWanted(entry) {\n  if (!entry) return false;\n\n  const title = (entry.title || '').trim();\n  const description = (entry.description || '').trim();\n  const domain = (entry.domain || '').trim();\n\n  // 将所有文本拼在一起转小写进行匹配\n  const text = (title + ' ' + description + ' ' + domain).toLowerCase();\n\n  // 如果命中黑名单，返回 false (丢弃)\n  if (negativePattern.test(text)) {\n    return false;\n  }\n\n  // 否则保留\n  return true;\n}\n\n// ==========================================\n// 第二部分：提取并处理数据 (来自原“代码优化提取数据”节点)\n// ==========================================\n\n// 1. 安全获取输入数据 (防止路径不存在报错)\nconst inputItem = $input.first();\nconst tasks = inputItem.json.tasks;\nlet rawItems = [];\n\nif (tasks && tasks[0] && tasks[0].result && tasks[0].result[0] && tasks[0].result[0].items) {\n    rawItems = tasks[0].result[0].items;\n} else {\n    // 如果没有找到数据，直接返回空数组\n    return [{ json: { data: [] } }];\n}\n\n// 2. 遍历提取字段，并同时进行清洗过滤\nconst processedData = rawItems.reduce((acc, item) => {\n    \n    // --- 提取逻辑 ---\n    \n    // 如果已经有domain字段，直接使用；否则从URL中提取\n    let domain = item.domain || '';\n    \n    if (!domain && item.url) {\n        try {\n            const urlObj = new URL(item.url);\n            domain = urlObj.hostname;\n        } catch (error) {\n            // 解析失败忽略，保持空字符串或原值\n        }\n    }\n\n    // 构建标准化对象\n    const extractedItem = {\n        title: item.title || '',\n        domain: domain,\n        description: item.description || ''\n    };\n\n    // --- 清洗逻辑 ---\n    \n    // 在加入结果数组前，先判断是否符合保留条件\n    if (isWanted(extractedItem)) {\n        acc.push(extractedItem);\n    }\n\n    return acc;\n}, []);\n\n// ==========================================\n// 第三部分：返回结果\n// ==========================================\n\nreturn [{\n    json: {\n        data: processedData,\n        // 可选：添加一些统计信息方便调试\n        original_count: rawItems.length,\n        filtered_count: processedData.length\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2048,272],"id":"0d4096a5-d9c7-4fbe-b4fd-4d45f727876b","name":"清洗数据"},{"parameters":{"jsCode":"// 1. 获取并清洗数据\nlet rawOutput = $input.first().json.output;\n// 使用正则去掉可能存在的 markdown 代码块标记\nrawOutput = rawOutput.replace(/^```json\\s*/, \"\").replace(/^```\\s*/, \"\").replace(/\\s*```$/, \"\");\n\nconst parsedData = JSON.parse(rawOutput);\n\n// 2. 使用 Map 去重\nconst uniqueDataMap = new Map();\nconst uniqueData = [];\n\nparsedData.forEach(item => {\n  if (item.domain && !uniqueDataMap.has(item.domain)) {\n    uniqueDataMap.set(item.domain, true);\n    uniqueData.push(item);\n  }\n});\n\n// 3. 返回结果\nreturn [{\n  json: {\n    data: uniqueData,\n    total_count: uniqueData.length,\n    removed_duplicates: parsedData.length - uniqueData.length,\n    processed_time: new Date().toLocaleString('zh-CN')\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1472,272],"id":"795e3bf6-a9cf-4111-af5a-f28dd3b72e28","name":"格式化"},{"parameters":{"jsCode":"// 1. 获取并清洗数据\nlet rawOutput = $input.first().json.output;\n\n\n// 核心修复：使用正则去掉可能存在的 markdown 代码块标记 (```json 和 ```)\nrawOutput = rawOutput.replace(/^```json\\s*/, \"\").replace(/^```\\s*/, \"\").replace(/\\s*```$/, \"\");\n\n// 2. 安全解析 JSON\nconst parsedData = JSON.parse(rawOutput);\n\n// 3. 处理 domain 字段\nconst processedData = parsedData.map(item => {\n  if (item.domain) {\n    // 如果 domain 没有 www，则加上 www.\n    if (!item.domain.includes('www.')) {\n      item.domain = 'www.' + item.domain;\n    }\n    // 如果已经有 www，保持不变\n  }\n  return item;\n});\n\n// 4. 返回格式化数据\nreturn [{\n  json: {\n    data: processedData,\n    total_count: processedData.length,\n    processed_time: new Date().toLocaleString('zh-CN')\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-896,272],"id":"e05dc104-740b-4948-8504-4e13f0d2b094","name":"格式化1"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-448,272],"id":"a7773bf4-15db-41c5-82a3-6d4df3ef4810","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-224,272],"id":"96fe5abf-3605-44d7-a4d7-132fa3a4a342","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[448,272],"id":"7dd0028a-f2dd-4800-97db-61d2be692d31"},{"parameters":{"jsCode":"const keyword = $items('Webhook')[0].json.query.keyword;\n\nfor (const item of items) {\n  if (item.json.data) {\n    item.json.data.forEach(obj => obj.keyword = keyword);\n  }\n}\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,272],"id":"94ac4fd4-fc10-4e2f-aa32-2111344d9b7e","name":"Code in JavaScript"},{"parameters":{"resource":"base","operation":"searchRecords","app_token":{"__rl":true,"mode":"id","value":""},"table_id":{"__rl":true,"mode":"id","value":""},"options":{}},"type":"n8n-nodes-feishu-lark.lark","typeVersion":1,"position":[-2720,272],"id":"ee3f0148-4354-433b-a2a1-a63675d7e776","name":"获取飞书表格已有公司","webhookId":"f50a3a58-9914-43fa-a3af-b441cb194876","credentials":{"larkApi":{"id":"Gt61sQPCXtiiu5nz","name":"飞书API"}}},{"parameters":{"jsCode":"// 获取输入数据中的items\nconst itemsData = items[0].json.items || [];\n\n// 使用map提取公司名称，并过滤掉无效项\nconst companyNames = itemsData\n  .map(item => item?.fields?.[\"公司名称\"]?.[0]?.text)\n  .filter(name => name && name.trim() !== \"\");\n\n// 返回结果\nreturn { companyNames };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2496,272],"id":"691ff5a4-a67b-44dc-9450-8d959fa29981","name":"已存在飞书表格里的公司信息"},{"parameters":{},"type":"n8n-nodes-feishu-lark.lark","typeVersion":1,"position":[224,192],"id":"1f5969ae-7506-4754-8c1b-c08759fe6a43","name":"写入飞书表格","webhookId":"3f28fd77-6260-41ba-ba17-990b536b24cb","credentials":{"larkApi":{"id":"Gt61sQPCXtiiu5nz","name":"飞书API"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"7a051150-6011-48ec-bd71-1a4130402b62","leftValue":"={{ $items(\"已存在飞书表格里的公司信息\")[0].json.companyNames }}","rightValue":"={{ $json.title }}","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,192],"id":"72bc3263-91a1-4500-8db1-90ec224e4f0c","name":"去重判断"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[0,0],"id":"6826b235-e310-496a-942c-37b0e13353fb","name":"Respond to Webhook"}],"connections":{"Webhook":{"main":[[{"node":"获取飞书表格已有公司","type":"main","index":0}]]},"通过产品名称搜索竞品公司":{"main":[[{"node":"清洗数据","type":"main","index":0}]]},"DeepSeek Chat Model":{"ai_languageModel":[[{"node":"获取厂家官网","type":"ai_languageModel","index":0}]]},"获取厂家官网":{"main":[[{"node":"格式化","type":"main","index":0}]]},"DeepSeek Chat Model1":{"ai_languageModel":[[{"node":"添加社媒账号","type":"ai_languageModel","index":0}]]},"添加社媒账号":{"main":[[{"node":"格式化1","type":"main","index":0}]]},"清洗数据":{"main":[[{"node":"获取厂家官网","type":"main","index":0}]]},"格式化":{"main":[[{"node":"添加社媒账号","type":"main","index":0}]]},"格式化1":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"去重判断","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"获取飞书表格已有公司":{"main":[[{"node":"已存在飞书表格里的公司信息","type":"main","index":0}]]},"已存在飞书表格里的公司信息":{"main":[[{"node":"通过产品名称搜索竞品公司","type":"main","index":0}]]},"写入飞书表格":{"main":[[{"node":"Replace Me","type":"main","index":0}]]},"去重判断":{"main":[[{"node":"写入飞书表格","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b598c0e6-2d2e-43cd-a417-04b1d63339dc","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2025-12-16T12:36:21.490Z","createdAt":"2025-12-16T12:36:21.490Z","role":"workflow:owner","workflowId":"RCNTkPoUgDrQ5Fe9","projectId":"2hoECj5RzPkbXIK6","project":{"updatedAt":"2025-12-16T12:31:47.827Z","createdAt":"2025-12-16T12:30:18.158Z","id":"2hoECj5RzPkbXIK6","name":"冷 布丁 <498128186@qq.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-12-16T12:30:18.159Z","createdAt":"2025-12-16T12:30:18.159Z","userId":"c46ce840-de81-412d-a160-69fb3885a0dd","projectId":"2hoECj5RzPkbXIK6","user":{"updatedAt":"2025-12-17T05:04:54.000Z","createdAt":"2025-12-16T12:30:17.247Z","id":"c46ce840-de81-412d-a160-69fb3885a0dd","email":"498128186@qq.com","firstName":"冷","lastName":"布丁","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-12-16T12:31:51.645Z","personalization_survey_n8n_version":"2.0.2"},"settings":{"userActivated":false,"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-12-17","isPending":false}}]}}],"tags":[{"updatedAt":"2025-12-16T12:36:20.230Z","createdAt":"2025-12-16T12:36:20.230Z","id":"oDb7nooF2OQTP6ys","name":"Project"}],"activeVersion":null}
