backups/2025-12-17_17-04-32/TikTok-获取社交媒体素材-W8pOnGiYCIfRklA4.json
{
  "updatedAt": "2025-12-16T12:37:08.378Z",
  "createdAt": "2025-12-16T12:37:08.378Z",
  "id": "W8pOnGiYCIfRklA4",
  "name": "TikTok-获取社交媒体素材",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-feishu-lark.lark",
      "typeVersion": 1,
      "position": [
        640,
        0
      ],
      "id": "a743e87c-f634-415a-9e20-b3e00e89bfd5",
      "name": "飞书-获取厂家官网信息",
      "webhookId": "17b064a6-3916-4bea-9973-7c82ed660191",
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "// 获取上一个节点的输入数据\nconst inputData = $input.all();\nconst results = [];\n\n// 辅助函数：深度清洗文本，确保换行符是“真的”换行符\nfunction getFieldText(fields, fieldName) {\n  const fieldObj = fields[fieldName];\n  \n  if (fieldObj && Array.isArray(fieldObj) && fieldObj.length > 0 && fieldObj[0].text) {\n    let rawText = fieldObj[0].text;\n    \n    // 1. 处理字面量转义符：如果字符串里包含 \"\\n\" (两个字符)，把它变成真正的换行符\n    let cleanText = rawText.split('\\\\n').join('\\n');\n    \n    // 2. 处理 Windows/Mac 换行符差异 (\\r\\n -> \\n)\n    cleanText = cleanText.replace(/\\r\\n/g, '\\n').replace(/\\r/g, '\\n');\n    \n    return cleanText.trim();\n  }\n  return ''; \n}\n\nfor (const inputItem of inputData) {\n  // 1. 兼容逻辑：处理 items 嵌套\n  const records = inputItem.json.items || (Array.isArray(inputItem.json) ? inputItem.json : [inputItem.json]);\n\n  if (Array.isArray(records)) {\n    for (const record of records) {\n      const fields = record.fields || {};\n      \n      // 先在内部获取清洗后的文本，但不输出它\n      const socialRawText = getFieldText(fields, '社媒账号');\n      \n      // 2. 格式化输出数据\n      const cleanData = {\n        record_id: record.record_id,\n        company_name: getFieldText(fields, '公司名称'),\n        product_name: getFieldText(fields, '产品名称'),\n        // company_desc 字段已删除\n        website: getFieldText(fields, '官网链接'),\n        \n        // 只保留拆分后的数组\n        social_media_list: socialRawText ? socialRawText.split('\\n') : []\n      };\n\n      results.push({\n        json: cleanData\n      });\n    }\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        0
      ],
      "id": "ce28657e-582f-4301-a0dd-e679fd5f0153",
      "name": "内容格式化输出"
    },
    {
      "parameters": {
        "jsCode": "// 获取所有输入数据\nconst inputData = $input.all();\nconst results = [];\n\n// --- 辅助函数：深度提取用户名 ---\nfunction extractUsername(platform, url) {\n  // 1. 预处理：标准化 URL\n  let normalizedUrl = url.trim();\n  // 补全协议防止 new URL 报错\n  if (!normalizedUrl.startsWith('http')) {\n    normalizedUrl = 'https://' + normalizedUrl.replace(/^\\/\\//, '');\n  }\n\n  try {\n    const urlObj = new URL(normalizedUrl);\n    const pathname = urlObj.pathname;\n    const searchParams = urlObj.searchParams;\n    const platformLower = platform.toLowerCase();\n\n    // === YouTube 处理 ===\n    if (platformLower.includes('youtube')) {\n      // 1. @handle 格式\n      if (pathname.includes('/@')) {\n        const match = pathname.match(/\\/@([^\\/?]+)/);\n        return match ? match[1] : url; \n      }\n      // 2. /channel/ID 格式\n      if (pathname.includes('/channel/')) {\n        const match = pathname.match(/\\/channel\\/([^\\/?]+)/);\n        return match ? match[1] : url;\n      }\n      // 3. /user/Name 格式\n      if (pathname.includes('/user/')) {\n        const match = pathname.match(/\\/user\\/([^\\/?]+)/);\n        return match ? match[1] : url;\n      }\n      // 4. /c/Name 格式\n      if (pathname.includes('/c/')) {\n        const match = pathname.match(/\\/c\\/([^\\/?]+)/);\n        return match ? match[1] : url;\n      }\n      // 5. 默认格式\n      if (!['/watch', '/results'].some(p => pathname.startsWith(p))) {\n         const segments = pathname.split('/').filter(s => s);\n         return segments.length > 0 ? segments[segments.length - 1] : url;\n      }\n    }\n\n    // === Facebook 处理 ===\n    if (platformLower.includes('facebook')) {\n      // profile.php?id=xxx\n      if (pathname.includes('profile.php')) {\n        const id = searchParams.get('id');\n        if (id) return id;\n      }\n      // /username 格式\n      const ignore = ['groups', 'watch', 'events', 'pages', 'category', 'people', 'public'];\n      const match = pathname.match(/^\\/([^\\/?]+)/);\n      if (match) {\n        let name = match[1].replace(/\\/$/, '');\n        if (!ignore.includes(name.toLowerCase())) {\n            return name;\n        }\n      }\n      const segments = pathname.split('/').filter(s => s);\n      return segments.length > 0 ? segments[segments.length - 1] : url;\n    }\n\n    // === TikTok 处理 ===\n    if (platformLower.includes('tiktok')) {\n      const match = pathname.match(/\\/@([^\\/?]+)/);\n      return match ? match[1] : url; \n    }\n\n    // === Reddit 处理 ===\n    if (platformLower.includes('reddit')) {\n      const match = pathname.match(/\\/(?:user\\/|u\\/|r\\/)([^\\/?]+)/);\n      return match ? match[1] : url;\n    }\n\n    // === 通用默认处理 ===\n    return simpleExtractUsername(normalizedUrl);\n\n  } catch (error) {\n    return simpleExtractUsername(url);\n  }\n}\n\n// --- 备用函数 ---\nfunction simpleExtractUsername(url) {\n  try {\n    const withoutProtocol = url.replace(/^https?:\\/\\//, '').replace(/^www\\./, '');\n    const parts = withoutProtocol.split('/').filter(part => part.trim().length > 0);\n    if (parts.length > 1) {\n       return parts[parts.length - 1];\n    }\n    return url;\n  } catch (e) {\n    return url;\n  }\n}\n\n// --- 主循环逻辑 ---\nfor (const item of inputData) {\n  const socialList = item.json.social_media_list || [];\n  const recordId = item.json.record_id;\n\n  for (const entry of socialList) {\n    if (typeof entry !== 'string') continue;\n\n    const splitIndex = entry.indexOf(':') !== -1 ? entry.indexOf(':') : entry.indexOf('：');\n\n    if (splitIndex !== -1) {\n      const platformName = entry.substring(0, splitIndex).trim();\n      const rawValue = entry.substring(splitIndex + 1).trim();\n\n      let isUrl = false;\n      let username = \"未知\";\n\n      // 简单判断是否 URL\n      if (rawValue.startsWith('http') || rawValue.startsWith('www')) {\n        isUrl = true;\n        // 提取用户名\n        let extracted = extractUsername(platformName, rawValue);\n        \n        // 双重保险：去掉 @\n        if (extracted && typeof extracted === 'string' && extracted.startsWith('@')) {\n            extracted = extracted.substring(1);\n        }\n\n        if (extracted && extracted !== rawValue && extracted.length < 50) {\n            username = extracted;\n        } else {\n            const parts = rawValue.split('/');\n            const last = parts[parts.length-1];\n            if (last && !last.includes('watch')) {\n                username = last.replace('@', '');\n            } else {\n                username = \"提取异常\";\n            }\n        }\n      }\n\n      if (rawValue.includes('未知')) {\n          username = \"未知\";\n          isUrl = false;\n      }\n\n      // === 核心过滤逻辑 ===\n      // 如果用户名是“未知” 且 原始值也是“未知”，则不添加这条数据，直接进入下一次循环\n      if (username === \"未知\" && rawValue === \"未知\") {\n          continue;\n      }\n\n      results.push({\n        json: {\n          \"平台\": platformName,\n          \"用户名\": username,\n          \"原始值\": rawValue,\n          \"是否URL\": isUrl,\n          \"record_id\": recordId\n        }\n      });\n    }\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        0
      ],
      "id": "3be00728-74f7-4e28-a361-3e74e2ce10c8",
      "name": "提取不同平台的社交媒体账号"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "95ada70f-d056-423e-bfe7-f2c29ad6486a",
      "name": "手动触发"
    },
    {
      "parameters": {
        "jsCode": "// 获取所有输入数据\nconst inputData = $input.all();\nconst results = [];\n\n// 遍历所有数据，查找符合条件的 TikTok 数据\nfor (const item of inputData) {\n  const data = item.json;\n  \n  // 1. 判断平台是否为 TikTok (忽略大小写，防止 \"Tiktok\" 或 \"tiktok\" 造成匹配失败)\n  const isTikTok = data.平台 && \n    (data.平台.toString().toLowerCase() === \"tiktok\" || data.平台.toString().toLowerCase().includes(\"tiktok\"));\n  \n  // 2. 筛选条件：\n  // - 平台是 TikTok\n  // - 是否URL 为 true (排除无效数据)\n  // - 用户名不是 \"未知\" 或 \"提取异常\"\n  if (isTikTok && data.是否URL === true && data.用户名 && data.用户名 !== \"未知\" && data.用户名 !== \"提取异常\") {\n    \n    // 3. 提取并添加到结果数组 (只保留\"用户名\"字段)\n    results.push({\n      json: { \n        \"用户名\": data.用户名 \n      }\n    });\n  }\n}\n\n// 返回所有提取到的结果\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        0
      ],
      "id": "731a7b5a-20e4-4218-b4f6-b444edb431ac",
      "name": "TikTok-获取用户名"
    },
    {
      "parameters": {
        "url": "https://api.tikhub.io/api/v1/tiktok/app/v3/fetch_user_post_videos_v2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sec_user_id",
              "value": "="
            },
            {
              "name": "max_cursor",
              "value": "0"
            },
            {
              "name": "count",
              "value": "10"
            },
            {
              "name": "sort_type",
              "value": "0"
            },
            {
              "name": "unique_id",
              "value": "={{ $json[\"用户名\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ***REDACTED_KEY***=="
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        912,
        240
      ],
      "id": "2fd2f700-15c5-4424-8325-31b5f6da28ff",
      "name": "获取用户主页作品数据"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        688,
        224
      ],
      "id": "d8820934-bb7d-485f-9e2a-9949c4289110",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1824,
        240
      ],
      "id": "214adf6e-4bd3-4b14-9eaa-6a7d25c463e9"
    },
    {
      "parameters": {
        "jsCode": "// 获取所有输入数据\nconst inputData = $input.all();\nconst returnData = [];\n\nfor (const item of inputData) {\n  const json = item.json;\n  let foundValidVideo = false; // 标记是否找到了有效视频\n  let potentialVideos = [];\n\n  // --- 1. 智能提取视频列表 (关键修复) ---\n  \n  // 情况A: 标准结构 (json.data.aweme_list) - 针对 INPUT数据-2\n  if (json.data && Array.isArray(json.data.aweme_list)) {\n    potentialVideos = json.data.aweme_list;\n  }\n  // 情况B: 已经是数组 (可能之前的节点做过处理)\n  else if (Array.isArray(json)) {\n    potentialVideos = json;\n  }\n  // 情况C: 之前的特殊结构 ({\"0\": {...}, \"1\": {...}}) - 针对之前的 INPUT数据\n  else if (typeof json === 'object' && json !== null) {\n    // 把对象本身放进去检查\n    potentialVideos.push(json);\n    // 把对象的值展开检查\n    potentialVideos = potentialVideos.concat(Object.values(json));\n  }\n\n  // --- 2. 遍历提取并过滤 ---\n  \n  // 如果遇到明确的无效标记 \"No more videos\"，直接跳过处理\n  if (json.data === \"No more videos\") {\n      // potentialVideos 为空或包含无效数据，下面循环自然会过滤掉\n  }\n\n  for (const video of potentialVideos) {\n    // 基础校验：必须是对象\n    if (!video || typeof video !== 'object') continue;\n\n    // ✅ 核心门槛：必须包含 aweme_id 才是有效视频\n    if (video.aweme_id) {\n      foundValidVideo = true; // 找到了！标记为有效\n      \n      returnData.push({\n        json: {\n          valid:       true,  // <--- 有效标记\n          aweme_id:    video.aweme_id,\n          title:       video.desc || \"\",\n          nickname:    video.author?.nickname || \"Unknown\",\n          // 视频链接：优先取播放列表第1个，没有则取下载地址\n          video_url:   video.video?.play_addr?.url_list?.[0] || video.video?.download_addr?.url_list?.[0] || \"\",\n          cover_image: video.video?.cover?.url_list?.[0] || \"\",\n          likes:       video.statistics?.digg_count || 0,\n          comments:    video.statistics?.comment_count || 0,\n          shares:      video.statistics?.share_count || 0,\n          publish_time: video.create_time,\n          share_url:   video.share_url || \"\",\n          platform:    \"TikTok\"\n        }\n      });\n    }\n  }\n\n  // --- 3. 兜底处理：如果这一整条数据里都没找到视频 ---\n  // 输出一条带有 valid: false 的数据，防止 Loop 循环断裂\n  if (!foundValidVideo) {\n    returnData.push({\n      json: {\n        valid: false, \n        error_msg: \"No valid video found in this item\",\n        // 可以把原始数据带上方便调试，不想看可以注释掉下面这行\n        // _raw_data: json \n      }\n    });\n  }\n}\n\nreturn returnData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        240
      ],
      "id": "185206e3-16b6-4a95-b4c4-ed1c939c90f2",
      "name": "拆分_过滤_提取有效数据",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c5eb7fe8-5dd3-48db-bd6b-040cd18bc05d",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1328,
        240
      ],
      "id": "cfb8502f-8ca4-46f0-944c-e29636a52e39",
      "name": "判断有效数据"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-feishu-lark.lark",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "0725dddd-8cdb-44cd-9127-4baf33275066",
      "name": "获取已存视频ID",
      "webhookId": "ce85a689-1fef-42b0-b79a-ebaa754fb3b9",
      "credentials": {}
    },
    {
      "parameters": {},
      "type": "n8n-nodes-feishu-lark.lark",
      "typeVersion": 1,
      "position": [
        2048,
        240
      ],
      "id": "5cb540d0-f687-4e02-a28b-fa73709db0f1",
      "name": "新增记录",
      "webhookId": "f7f4a951-7688-4913-a786-0821848cdb6f",
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "// 这个节点的输入：来自「获取已存视频ID」\n// 它的 json 结构大概是：{ has_more: false, items: [ { fields: { ID: [ { text: \"xxx\" } ], ... }, record_id: \"...\" }, ... ] }\n\nconst root = $input.first().json;      // 只有 1 个 item，里面有 items 数组\nconst records = root.items || [];\n\nconst allIds = records\n  .map(r => r.fields?.ID?.[0]?.text)   // 取每条记录的 ID 文本\n  .filter(id => !!id);                 // 过滤掉空值\n\nreturn [\n  {\n    json: {\n      all_ids: allIds                  // 把所有 ID 放到一个根字段里\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "5b4aa8c2-110e-4c0b-af0c-d1dc5aea58f5",
      "name": "提取已存ID列表"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2b2edc32-34d3-4bf9-93da-d7038ef479d4",
              "leftValue": "={{ $items('提取已存ID列表')[0].json.all_ids.join(',') }}",
              "rightValue": "={{ $json.aweme_id.toString() }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        224
      ],
      "id": "ed755838-b7a8-4e05-92c9-814c4169229f",
      "name": "基于视频ID查重"
    }
  ],
  "connections": {
    "飞书-获取厂家官网信息": {
      "main": [
        [
          {
            "node": "内容格式化输出",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "内容格式化输出": {
      "main": [
        [
          {
            "node": "提取不同平台的社交媒体账号",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取不同平台的社交媒体账号": {
      "main": [
        [
          {
            "node": "TikTok-获取用户名",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "手动触发": {
      "main": [
        [
          {
            "node": "获取已存视频ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok-获取用户名": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取用户主页作品数据": {
      "main": [
        [
          {
            "node": "拆分_过滤_提取有效数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "获取用户主页作品数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "新增记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "拆分_过滤_提取有效数据": {
      "main": [
        [
          {
            "node": "判断有效数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断有效数据": {
      "main": [
        [
          {
            "node": "基于视频ID查重",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取已存视频ID": {
      "main": [
        [
          {
            "node": "提取已存ID列表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取已存ID列表": {
      "main": [
        [
          {
            "node": "飞书-获取厂家官网信息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "基于视频ID查重": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "e9cd8c75-9f18-468c-8539-c8fa7e63ec99",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-16T12:37:08.387Z",
      "createdAt": "2025-12-16T12:37:08.387Z",
      "role": "workflow:owner",
      "workflowId": "W8pOnGiYCIfRklA4",
      "projectId": "2hoECj5RzPkbXIK6",
      "project": {
        "updatedAt": "2025-12-16T12:31:47.827Z",
        "createdAt": "2025-12-16T12:30:18.158Z",
        "id": "2hoECj5RzPkbXIK6",
        "name": "冷 布丁 <498128186@qq.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-12-16T12:30:18.159Z",
            "createdAt": "2025-12-16T12:30:18.159Z",
            "userId": "c46ce840-de81-412d-a160-69fb3885a0dd",
            "projectId": "2hoECj5RzPkbXIK6",
            "user": {
              "updatedAt": "2025-12-17T05:04:54.000Z",
              "createdAt": "2025-12-16T12:30:17.247Z",
              "id": "c46ce840-de81-412d-a160-69fb3885a0dd",
              "email": "498128186@qq.com",
              "firstName": "冷",
              "lastName": "布丁",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-16T12:31:51.645Z",
                "personalization_survey_n8n_version": "2.0.2"
              },
              "settings": {
                "userActivated": false,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-17",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
